@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-10rem);
    }
    80% {
        transform: translate(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(10rem);
    }
    80% {
        transform: translate(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*this defines what one rem is*/
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 3rem;
}


/*esto se puede borrar despues*/

h1,
h2 {
    color: rgb(30, 61, 84);
}


/*esto se puede borrar despues*/

.u-center-text {
    text-align: center;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    box-sizing: border-box;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.heading-primary-main {
    display: block;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2.29rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(69, 160, 160), rgb(30, 61, 84));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position-x 0.3s ease;
}

.heading-secondary:hover {
    background-image: linear-gradient(to left, rgb(69, 160, 160), rgb(30, 61, 84));
    transform: scale(1.009);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
    text-align: justify;
}

.paragraph:not(:last-child) {
    margin-bottom: 3rem;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 1.6rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn-text:link,
.btn-text:visited {
    font-size: 1.6rem;
    color: rgb(42, 112, 131);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid rgb(42, 112, 131);
    padding: 3px;
    transition: all 0.2s;
}

.btn-text:hover {
    background-color: rgba(42, 112, 131, 0.8);
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
}

.btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
    transform: translateY(0);
}

.composition {
    position: relative;
}

.composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    position: absolute;
    z-index: 1;
}

.composition__photo--p1 {
    left: 0;
    top: -4rem;
}

.composition__photo--p2 {
    right: 0rem;
    top: 2rem;
}

.composition__photo--p3 {
    left: 20%;
    top: 10rem;
}

.composition__photo:hover {
    outline: 0.5rem solid rgb(42, 112, 131);
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9);
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right, rgba(69, 160, 160, 0.4), rgba(30, 61, 84, 0.4)), url(../images/lobo.JPG);
    background-size: cover;
    background-position: bottom;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.header__upper-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(30, 61, 84, 0.18);
}

.header__logo-box {
    padding: 0.8rem;
}

.header__logo {
    height: 8rem;
    border-radius: 50%;
}

.header__navigation {
    padding: 20px;
}

.header__navigation-list {
    list-style-type: none;
}

.header__navigation-list-item {
    display: inline;
    margin-right: 1rem;
}

.header__navigation-list-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.9rem;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -25%);
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 10px;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.container4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.b2-3 {
    grid-column: span 2;
}

.b3-4 {
    grid-column: span 3;
}

.square {
    padding: 20px;
    text-align: left;
}

@media screen and (max-device-width: 600px) {
    body {
        padding: 0px;
    }
    .container2,
    .container3,
    .container4 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .b2-3,
    .b3-4 {
        grid-column: span 1;
    }
    .grid {
        padding: 0;
    }
}

.section-about {
    background-color: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh;
}

footer {
    background-color: rgb(42, 112, 131);
    color: #fff;
    padding: 1rem;
    text-align: center;
}


/*# sourceMappingURL=main.css.map */